/*body{
    font-family: 'Lato', sans-serif;
}
.row{
    max-width: 110rem;
    margin: 0px auto;
}
a{
    color: #FFF;
    text-decoration: none;
}
div{
    font-size: 100%;
}
.header{
    position: relative;
    height: 0;
    color: #FFF;
}
.header .logo{
    position: relative;
    top: 50%
    transform: translateY(-50%);
    height: 2.75rem;
    width: 2.75rem;
    background-image: url("logo.svg");
    background-size: contain;
    float: left;
}
.header .email{
    position: relative;
    top: 50%
    transform: translateY(-50%);
    float: right;
}
.header .email span{
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: 0.03125rem;
}
.hero {
    padding: 9.375rem 0px;
    height:700px;
    color:#FFF;
    background-image: url('file:///home/mike/Programming/git_repos/repostage-clone/public/nicage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.setup{
    color: #505050;
    padding: 9.375rem 0;
}
.setup .steps-container{
    margin: 3.125rem;
}
.setup .step{
    display: flex;
    padding: 0 2.5rem;
}
.setup .step .step-number{
    margin:0 0.625rem 0 0;
    display:table;
    font-size:3.125rem;
}
.setup .step .step-content{
    display:table-cell;
}
.setup .step .step-content h4{
    font-weight: 700;
    margin-bottom:0.125rem;
}
.pay {
    color: #FFF;
    padding: 5rem 0;
    background-image: radial-gradient(at left top , #3A8FDC 0%, #87D7CD 100%);
}
.pay .cards-mobile-container{
    display: none;
}
@media(max-width:786px) .pay .cards-mobile-container{
    display: inline-block;
}
.stripe{
    height: 1.4375rem;
    width: 3.375rem;
    background: url("http://www.repostage.com/static/stripe-logo.svg") no-repeat scroll center center / contain transparent;
    display: inline-block;
    vertical-align: top;
}
.pay .card{
    height: 2.375rem;
    background: url("http://www.repostage.com/static/card-icons.png") no-repeat scroll center center / contain transparent;            
}
.table{
    padding: 5rem 0;
    color: #505050;
}
.table .row{
    padding: 10px;
}
.end {
    color: #FFF;
    padding: 9.375rem 0px;
    background: url("http://repostage.com/static/train-tracks.jpg") no-repeat scroll center center / cover transparent;
}
#log-in-btn{
    position:relative;
    top:25px;
    right:-50px;
}
.footer{
    color: #FFF;
    background-image: radial-gradient(at top left, #3A8FDC 0%, #87D7CD 100%);
    background-size: cover;
    padding: 2.8125rem 0;
}
.footer .instagram{
    height: 1.3125rem;
    width: 1.25rem;
    background-image: url("instagram-icon.svg");
    background-size: contain;
    display:inline-block;
    vertical-align: middle;
    margin: 0 0.625rem;
}
.footer .facebook{
    height: 1.3125rem;
    width: 0.625rem;
    background-image: url("facebook-icon.svg");
    background-size: contain;
    display:inline-block;
    vertical-align: middle;
    margin: 0 0.625rem;
}
.footer .twitter{
    height: 1.0625rem;
    width: 1.3125rem;
    background-image: url("twitter-icon.svg");
    background-size: contain;
    display:inline-block;
    vertical-align: middle;
    margin: 0 0.625rem;
}
.footer .california{
    height: 1.875rem;
    width: 3.75rem;
    background-image: url("california-icon.svg");
    background-size: contain;
    display:inline-block;
    vertical-align: middle;
    margin: 0 0 0 0.625rem;
}
.footer .span{
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 400;
}
.footer li{
    display: inline;
    margin: 0 0.9375rem;
}*/